@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

/*---------------------------------------------------------
	Variables
----------------------------------------------------------*/
:root{
    --color-primary: #6C9BCF;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-background: #f6f6f9;
    --color-line: #848bc82e;
	  --color-black:#000000;
    --color-star:#fbc634;

    --card-border-radius: 8px;

    --box-shadow: 0 0.5rem 1rem var(--color-light);
    --box-shadow-hover: 0 0rem 1.5rem var(--color-light);
}
/*---------------------------------------------------------
	End Variables
----------------------------------------------------------*/